/*!
 * Estilos Gigmate
 */

@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');

body {font-family: 'Arvo', serif;}

/* Dispositivos pequeños (tablets, 768px para arriba) */
@media screen and ( max-width: 768px ) {
  .navbar-brand {
    transform: translateX(-50%);
    left: 30%;
    position: absolute;
    padding: 15px 15px;
  }
  .navbar-login {
    position: absolute;
    right: 10%;
  }
}

.navbar-brand {
  padding: 15px 15px;
}

.navbar-login{
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo {
  max-height: 70px;
  width: auto;
}

.sombras{text-shadow: 2px 2px #222;}

/* Colores Flat -> flatuicolors.com */
.Turquoise{color:#1abc9c;}
.GreenSea{color:#16a085;}
.SunFlower{color:#f1c40f;}
.Orange{color:#f39c12;}
.Emerald{color:#2ecc71;}
.Nephritis{color:#27ae60;}
.Carrot{color:#e67e22;}
.Pumpkin{color:#d35400;}
.PeterRiver{color:#3498db;}
.BelizeHole{color:#2980b9;}
.Alizarin{color:#e74c3c;}
.Pomegranate{color:#c0392b;}
.Amethyst{color:#9b59b6;}
.Wisteria{color:#8e44ad;}
.Clouds{color:#ecf0f1;}
.White{color:#ffffff;}
.Silver{color:#bdc3c7;}
.WetAsphalt{color:#34495e;}
.MidnightBlue{color:#2c3e50;}
.Concrete{color:#95a5a6;}
.Asbestos{color:#7f8c8d;}
.Black{color:#000000;}

h2 .eslogan {
  font-size: 60%;
}

.jumbotron.main {
  padding-top: 25px;
  background-color: #34495e;
}


.city-autocomplete {
    margin-top: 15px;
    position: absolute;
    z-index: 10000;
    background: #fff;
    border: 1px solid #c3cacf;
    display: none;
    font-family: Arial, sans-serif;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

.city-autocomplete > div {
    font-size: 13px;
    padding: 5px 10px;
    cursor: pointer;
}

.city-autocomplete > div:hover {
    background: #c3cacf;
}

/* Modal Login */

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}
