html{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body{
  font-family:Lato;
  margin:0;
  overflow-x: none;
  overflow-y:auto;
  height:100vh;
  -webkit-overflow-scrolling: touch;
}
.darkbackground{

}
.t1{
  font-size:10px;
}
.t2{
  font-size:12px;
}
.t3{
  font-size:14px;
}
.t4{
  font-size:16px;
}
.t5{
  font-size:18px;
}
.t6{
  font-size:20px;
}
.t7{
  font-size:22px;
}
.t8{
  font-size:24px; 
}
.t9{
  font-size:26px;
}
.textTag{

}
.bold{
  font-weight: bold;
}
.textTitle{
  font-weight:bold;
}
.Tgray{
  color:#555;
}
.Twhite{
  color:#FFF;
}
.bBlueish{
  background:#182328;
}
.shadowed{
  text-shadow:2px 2px #222;
}
.field{
  font-size:13px;
  padding:2px;
  outline:none;
  padding-left:5px;
}
.center{
  text-align:center;
}
.tooltip{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
   display: none;
}
.button{
  padding:7px;
  background:#29ABE2;
  border-radius:5px;
  border:none;
  color:#FFF;
}
.button:hover{
  background:#39BBF2;
}
.arrow-up {
  position:absolute;
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid white;
}
