@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');
body {
  font-family: 'Arvo', serif;
}
/* Dispositivos pequeños (tablets, 768px para arriba) */
@media screen and (max-width: 768px) {
  .navbar-brand {
    left: 30%;
    padding: 15px 15px;
    position: absolute;
    transform: translateX(-50%);
  }
  .navbar-login {
    position: absolute;
    right: 10%;
  }
}
.navbar-login {
  margin-bottom: 30px;
  margin-top: 30px;
  position: absolute;
  right: 10%;
}
.navbar-brand {
  padding: 15px 15px;
}
.logo {
  max-height: 70px;
  width: auto;
}
.sombras {
  text-shadow: 2px 2px #222222;
}
h2 .eslogan {
  font-size: 60%;
}
.jumbotron.main {
  background-color: #34495e;
  padding-top: 25px;
}
.city-autocomplete {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ecf0f1;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  display: none;
  font-family: Arial, sans-serif;
  margin-top: 15px;
  position: absolute;
  z-index: 10000;
}
.city-autocomplete > div {
  cursor: pointer;
  font-size: 13px;
  padding: 5px 10px;
}
.city-autocomplete > div:hover {
  background: #ecf0f1;
}
.loginmodal-container {
  background-color: #F7F7F7;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  max-width: 350px;
  overflow: hidden;
  padding: 30px;
  width: 100% !important;
}
.loginmodal-container h1 {
  font-size: 1.8em;
  text-align: center;
}
.loginmodal-container input[type=submit] {
  display: block;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}
.loginmodal-container input[type=text] {
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  background: #ffffff;
  border-top: 1px solid #c0c0c0;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  font-size: 16px;
  height: 44px;
  margin-bottom: 10px;
  padding: 0 8px;
  width: 100%;
}
.loginmodal-container input[type=text]:hover {
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #a0a0a0;
  border: 1px solid #b9b9b9;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.loginmodal-container a {
  color: #666666;
  display: inline-block;
  font-weight: 400;
  opacity: 0.6;
  text-align: center;
  text-decoration: none;
  transition: opacity ease 0.5s;
}
input[type=password] {
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  background: #ffffff;
  border-top: 1px solid #c0c0c0;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  font-size: 16px;
  height: 44px;
  margin-bottom: 10px;
  padding: 0 8px;
  width: 100%;
}
input[type=password]:hover {
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #a0a0a0;
  border: 1px solid #b9b9b9;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.loginmodal {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  text-align: center;
}
.loginmodal-submit {
  background-color: #4d90fe;
  border: 0px;
  color: #ffffff;
  font-size: 14px;
  padding: 17px 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.loginmodal-submit:hover {
  background-color: #357ae8;
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.login-help {
  font-size: 12px;
}
