.screen{
  height:100vh;
  width:100%;
}
.topbar{
  position:fixed;
  background:#1A1A1A;
  height:50px;
  width:100%;
  color:#FFF;
  top:0;
  box-shadow:0px 0px 2px 2px black;
  z-index:100;
}
.logo{
  height:40px;
  margin-left:10px;
}
.lupa{
  height:17px;
  margin-right:3px;
}
.userName{
  color:#FFF;
  cursor:pointer;
}
.userName:hover{
  text-decoration:underline;
}
.searchbar{
  font-size:15px;
  padding:5px;
  padding-left:10px;
  width:350px;
  outline:none;
  border:none;
  border-radius:5px;
}
.bell{
  height:20px;
  position:relative;
  cursor:pointer;
  opacity:0.9;
  margin-left:5px;
  margin-right:30px;
}
.bell:hover{
  opacity:1;
}

.userphoto{
  height:250px;
  border:solid 0px gray;
}

.portada{
  background-image: url("../img/portada.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100% auto;
  background-attachment: inherit;
  height:250px;
  width:100%;
  position:relative;
}
.profile{
  height:250px;
  width:100%;
  background:#F2F2F2;
}
.bar{
  height:45px;
  width:100%;
  padding-top:15px;
  padding-bottom:15px;
  text-align: center;
  background:#FFF;
  display:inline-block;
  color:#333;
  border-radius:0px 0px 4px 4px;
  margin-bottom:15px;
  box-shadow:0px 0px 2px 2px #CCC;
}
.instrument{
  position:relative;
  height:40px;
  margin-left:20px;
}
.estilo{
  display:inline-block;
  color:#333;
  line-height:45px;
  white-space:nowrap;
  margin-right:20px;
  font-size:22px;
  font-weight:bold;
}
.bandas{
  display:inline-block;
  color:#333;
  line-height:45px;
  white-space:nowrap;
  margin-right:20px;
  font-size:18px;
  font-weight:bold;
}
.sep td{
  position:relative;
  z-index:20;
  font-weight:bold;
  width:100%;
  background:#555;
  color:#FFF;
  padding:5px;
  font-size:10px;
  border-radius:1px;
  box-shadow:0px 0px 1px 2px #555555;
}
.contactos{
  background:#F2F2F2;
  height:100%;
  overflow-y: auto;
}
.contacto{
  height:60px;
  position:relative;
  border-bottom:solid 1px #CCC;
}
.contactImage{
  border:0px solid #EEE;
  position:absolute;
  top:0px;
  left:0px;
  height:54px;
  margin:3px;

}
.contactName{
  position:absolute;
  top:7px;
  left:74px;
  color:#4D4D4D;
  font-size:15px;
  cursor:pointer;
}
.contactName:hover{
  text-decoration:underline;
}
.contactMessage{
  font-size:14px;
  color:#999999;
  position:absolute;
  top:31px;
  left:77px;
}
.contactCounter{
  position:absolute;
  padding:4px;
  border-radius:15px;
  background:red;
  color:white;
  right:15px;
  top:20px;
  min-width:25px;
  text-align:center;
}
.notifCounter{
  position:relative;
  padding:2px;
  border-radius:5px;
  background:red;
  color:white;
  top:0px;
  min-width:20px;
  text-align:center;
  font-size:13px;
}
.contactStatus{
  position:absolute;
  border-radius:5px;
  background:#4E4;
  height:9px;
  width:9px;
  right:-16px;
  top:5px;
}
.chat{
  background:#FFF;
  width:100%;
  height:450px;
  position:relative;
}
.chatTopBar{
  height:40px;
  width:100%;
  background:#2C3E50;
  border-bottom:1px solid #CCC;
}
.chatMessages{
  background:#FFF;
  height:calc(100% - 95px);
  width:100%;
  overflow-y:auto;
}
.chatBottomBar{
  position:absolute;
  height:25px;
  width:100%;
  bottom:0;
  padding:10px;
  border-top:1px solid #EFEFEF;
  background:#FFF;
}
.chatState{
  position:absolute;
  border-radius:5px;
  background:#4E4;
  height:9px;
  width:9px;
  left:15px;
  top:15px;
}
.chatName{
  position:absolute;
  left:36px;
  top:10px;
  color:#FFF;
  cursor:pointer;
}
.chatName:hover{
  text-decoration:underline;
}
.chatClose{
  opacity:0.5;
  height:10px;
  position:absolute;
  right:15px;
  top:15px;
}
.chatMessageA{
  clear: both;
  float:left;
  background:#D7DADB;
  border-radius:0px 15px 15px 15px;
  padding:11px;
  margin:9px;
  font-size:13px;
  max-width:60%;
  color:#2C3E50;
  margin:4px 0px 4px 9px;
}
.chatMessageB{
  clear: both;
  float:right;
  font-size:13px;
  max-width:70%;
  color:#FFF;
  text-align:right;
}
.chatMessageB .mess{
  background:#6DBCDB;
  border-radius:15px 15px 0px 15px;
  padding:11px;
  margin:9px;
  font-size:13px;
  text-align:left;
  color:#FFF;
}
.visto{
  color:#D7DADB;
  margin-top:12px;
  margin-right:15px;
  font-size:13px;
}
.chatInput{
  position:relative;
  top:-2px;
  width: calc(100% - 20px);
  height:30px;
  font-size:12px;
  padding-left:10px;
  outline:none;
  color:#2C3E50;
}
.gear{
  position:absolute;
  right:5px;
  height:13px;
  opacity:0.7;
  cursor:pointer;
}
.gear:hover{
  opacity:1;
}
.menuoption{
  padding:5px;
  background:#555;
}
.biggear{
  cursor:pointer;
  opacity:0.7;
  height:20px;
  margin-right:10px;
  position:relative;
}
.biggear:hover{
  opacity:0.9;
}
.biggearlist{
  position:absolute;
  top:42px;
  right:5px;
  background:#FFF;
  z-index:100;
  text-align:left;
  border-radius:5px;
  border:1px solid #CCC;
  overflow: hidden;
  display:none;
}
.biggeartitle{
  padding:8px;
  border-bottom:1px solid #CCC;
}
.biggeartab{
  white-space: nowrap;
  padding:8px;
  font-size:13px;
  opacity:0.7;
  cursor:pointer;
}
.biggeartab:hover{
  opacity:1;
  background:#444;
  color:#FFF;
}
.infowindow{
  width:500px;
  background:#FFF;
  padding:30px;
  border:1px solid #CCC;
  border-radius:7px;
  position:absolute;
  left:calc(50% - 250px);
  margin:0;
  top:40%;
}
.infdata{
  font-size:13px;
  padding-left:10px;
  color:#666;
}
.cancelButton{
  padding:7px;
  background:#E44;
  border-radius:5px;
  border:none;
  color:#FFF;
}
.cancelButton:hover{
  background:#F44;
}
.saveButton{
  padding:7px;
  background:#4B4;
  border-radius:5px;
  border:none;
  color:#FFF;
}
.saveButton:hover{
  background:#4C4;
}
.photowindow{
  width:410px;
  background:#FFF;
  padding:30px;
  border:1px solid #CCC;
  border-radius:7px;
  position:absolute;
  left:calc(50% - 205px);
  margin:0;
  top:40%;
}
.imageBox
{
    position: relative;
    height: 400px;
    width: 400px;
    border:1px solid #aaa;
    background: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    cursor:move;
}

.imageBox .thumbBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
}

.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}
.container{
  width:400px;
}
.messagewindow{
  width:400px;
  background:#FFF;
  padding: 10px 30px 30px 30px;
  border:1px solid #CCC;
  border-radius:7px;
  position:absolute;
  left:calc(50% - 205px);
  margin:0;
  top:40%;
}
.instrumentswindow{
  width:400px;
  background:#FFF;
  padding: 10px 30px 30px 30px;
  border:1px solid #CCC;
  border-radius:7px;
  position:absolute;
  left:calc(50% - 205px);
  margin:0;
  top:15%;
}
.instrumentswindow ul{
  list-style: none;
  padding:5px;
  font-weight:bold;
}
.ins{
  font-weight:normal;
  list-style: none;
  padding:4px;
  vertical-align: middle;
  border-radius:5px;
  margin-top: 4px;
  cursor:pointer;
  position:relative;
}
.ins:hover{
  background:#EEE;
  opacity:0.9;
}
.ins:active{
  background:#FFF;
}
.notifications{
  overflow:hidden;
  position:absolute;
  width:340px;
  height:450px;
  background:#F6F6F6;
  right:-20px;
  top:51px;
  border:1px solid #CCC;
  border-radius:5px;
}
.notifTitle{
  padding:5px;
  color:#333;
  font-size:13px;
  border-bottom:1px solid #CCC;
}
.agree{
  text-align:center;
  line-height:30px;
  font-weight:bold;
  color:#5B5;
  position:absolute;
  right:0;
  top:0;
  font-size:12;
  border-left:1px solid #CCC;
  border-bottom:1px solid #CCC;
  height:31px;
  width:70px;
  opacity:0.7;
  cursor:pointer;
}
.agree:hover{
  opacity:1;
}
.disagree:hover{
  opacity:1;
}
.agree:active{
  background:#EEE;
}
.disagree:active{
  background:#EEE;
}
.disagree{
  cursor:pointer;
  opacity:0.7;
  text-align:center;
  line-height:30px;
  font-weight:bold;
  color:#D55;
  position:absolute;
  right:0;
  bottom:0;
  font-size:12;
  border-left:1px solid #CCC;
  height:30px;
  width:70px;
}
.noti{
  display:none;
}
@media screen and (min-device-width: 1024px) {
   .sized{ zoom: 0.6 }
}
@media screen and (min-device-width: 1200px) {
   .sized{ zoom: 0.7 }
}
@media screen and (min-device-width: 1360px) {
   .sized{ zoom: 0.8 }
}
@media screen and (min-device-width: 1600px) {
   .sized{ zoom: 0.9 }
}
@media screen and (min-device-width: 1800px) {
   .sized{ zoom: 1 }
}
