.screen{
  height:100vh;
  width:100%;
}
.topbar{
  position:fixed;
  background:#1A1A1A;
  height:50px;
  width:100%;
  color:#FFF;
  top:0;
  box-shadow:0px 0px 2px 2px black;
  z-index:100;
}
.logo{
  height:40px;
  margin-left:10px;
}
.lupa{
  height:17px;
  margin-right:3px;
}
.searchbar{
  font-size:18px;
  padding-left:10px;
  width:350px;
  outline:none;
}
.bell{
  height:20px;
}

.userphoto{
  height:250px;
  border:solid 0px gray;
}

.portada{
  background-image: url("../img/landscape.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  background-attachment: inherit;
  height:250px;
  width:100%;
}
.profile{
  height:250px;
  width:100%;
  background:#F2F2F2;
}
.bar{
  height:45px;
  width:100%;
  padding-top:15px;
  padding-bottom:15px;
  text-align: center;
  background:#EEE;
  display:inline-block;
  color:#333;
  border-radius:0px 0px 4px 4px;
  margin-bottom:15px;
  box-shadow:0px 0px 2px 2px #CCC;
}
.instrument{
  position:relative;
  height:40px;
  margin-left:20px;
}
.estilo{
  display:inline-block;
  color:#333;
  line-height:45px;
  white-space:nowrap;
  margin-right:20px;
  font-size:22px;
  font-weight:bold;
}
.bandas{
  display:inline-block;
  color:#333;
  line-height:45px;
  white-space:nowrap;
  margin-right:20px;
  font-size:18px;
  font-weight:bold;
}
.sep td{
  position:relative;
  z-index:20;
  font-weight:bold;
  width:100%;
  background:#999;
  color:#FFF;
  padding:5px;
  font-size:10px;
  border-radius:1px;
  box-shadow:0px 0px 1px 2px #999;
}
.contactos{
  background:#F2F2F2;
  height:100%;
  overflow-y: auto;
}
.contacto{
  height:60px;
  position:relative;
  border-bottom:solid 1px #CCC;
}
.contactImage{
  border:0px solid #EEE;
  position:absolute;
  top:0px;
  left:0px;
  height:60px;
  border-radius:0px;
}
.contactName{
  position:absolute;
  top:7px;
  left:74px;
  color:#4D4D4D;
  font-size:15px;
}
.contactMessage{
  font-size:14px;
  color:#999999;
  position:absolute;
  top:31px;
  left:77px;
}
.contactCounter{
  position:absolute;
  padding:4px;
  border-radius:15px;
  background:red;
  color:white;
  right:15px;
  top:20px;
  min-width:25px;
  text-align:center;
}
.contactStatus{
  position:absolute;
  border-radius:5px;
  background:#4E4;
  height:9px;
  width:9px;
  right:-16px;
  top:5px;
}
.chat{
  background:#FFF;
  width:100%;
  height:450px;
  position:relative;
}
.chatTopBar{
  height:40px;
  width:100%;
  background:#FC4349;
  border-bottom:1px solid #CCC;
}
.chatMessages{
  background:#FFF;
  height:calc(100% - 80px);
  width:100%;
  overflow-y:auto;
}
.chatBottomBar{
  position:absolute;
  height:25px;
  width:100%;
  bottom:0;
  padding:10px;
  border-top:1px solid #EFEFEF;
  background:#FFF;
}
.chatState{
  position:absolute;
  border-radius:5px;
  background:#4E4;
  height:9px;
  width:9px;
  left:15px;
  top:15px;
}
.chatName{
  position:absolute;
  left:36px;
  top:10px;
  color:#FFF;
}
.chatClose{
  opacity:0.5;
  height:10px;
  position:absolute;
  right:15px;
  top:15px;
}
.chatMessageA{
  clear: both;
  float:left;
  background:#D7DADB;
  border-radius:0px 15px 15px 15px;
  padding:11px;
  margin:9px;
  font-size:13px;
  max-width:60%;
  color:#2C3E50;
  margin:4px 0px 4px 9px;
}
.chatMessageB{
  clear: both;
  float:right;
  font-size:13px;
  max-width:70%;
  color:#FFF;
  text-align:right;
}
.chatMessageB .mess{
  background:#6DBCDB;
  border-radius:15px 15px 0px 15px;
  padding:11px;
  margin:9px;
  font-size:13px;
  text-align:left;
  color:#FFF;
}
.visto{
  color:#D7DADB;
  margin-top:12px;
  margin-right:15px;
  font-size:13px;
}
.chatInput{
  position:relative;
  top:-2px;
  width: calc(100% - 20px);
  height:30px;
  font-size:12px;
  padding-left:10px;
  outline:none;
  color:#2C3E50;
}
@media screen and (min-device-width: 1024px) {
   .sized{ zoom: 0.6 }
}
@media screen and (min-device-width: 1200px) {
   .sized{ zoom: 0.7 }
}
@media screen and (min-device-width: 1360px) {
   .sized{ zoom: 0.8 }
}
@media screen and (min-device-width: 1600px) {
   .sized{ zoom: 0.9 }
}
@media screen and (min-device-width: 1800px) {
   .sized{ zoom: 1 }
}
